<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>
                <p style="color: #000; font-size: 45px; font-weight: bold;">Shopie</p>
            </th>
        </tr>
        <tr>
            <td>
                <p style="font-size: 30px;">Hello, <%=email%></p>
                <p style="font-size: 35px; ">Welcome to shopie store, your one stop online store.</p>
                <p style="color:black; font-size:30px; margin: 10px 2px">
                    We invite you to browse our extensive product line. 
                    Keep an eye out for the discounts we provide to new customers. 
                    We also provide excellent after-sales service and door-to-door delivery. 
                    We are pleased that you have chosen to shop with us.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>   